.tracker-data ul li {
  display: flex;
}

.advertisement-container {
  /* position: absolute; */
  /* display: flex;
  flex-direction: column;
  justify-content: end; */
  padding-top: 200px;
}
.step {
  text-decoration: none;
}
.step .content {
  font-size: 16px;
}
