p Hi #{firstname}
p 
p Please click the link below to reset your password <br/> #{weblink}
p
p The above link has 15minutes expire time. <br /> Dont hesitate to contact us if you have any issues or concerns at <b>#{email_support}</b>
p
p <b>Best regards</b><br/>Team #{sitename}