@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root {
  --header-bg-color: #243244;
  --header-font: 'Questrial', sans-serif;
  
}
.menu {
  display: flex;
  justify-content: space-around;
}
.menu ul li a {
  font-family: var(--header-font);
  font-size: 20px;
}

#navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  box-shadow: 1px 2px 4px #4e4c4c;
  background-color: var(--header-bg-color);
}

#navbar ul {
  line-height: 30px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

#navbar.black ul {
  background: #000;
}

#navbar ul li {
  display: inline-block;
  padding: 16px 40px;
}

#nav-ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.menu-icon {
  line-height: 30px;
  width: 100%;
  background: var(--header-bg-color);
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

/* Header menu in profile, admin, organizer page  */
.menu_list_tabs {
  align-items: stretch;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}
.menu_list_tabs .menu_list_tabs__header {
  background-color: var(--primaryHover);
  border-radius: none !important;
  color: white;
}
/* .menu_list_tabs ul {
  color: white;

  background-color: #525252;
} */
.menu_list_tabs a {
  text-decoration: none;
  color: #bbbcbe;
}
.menu_list_tabs a:hover {
  color: #ebebeb;
}

@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    font-size: 38px;
  }

  #nav-ul {
    max-height: 0px;
    background: var(--header-bg-color);
  }

  #navbar.black ul {
    background: var(--header-bg-color);
  }

  .showing {
    max-height: 34em !important;
  }

  #navbar ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}

/******************************
Flexbox Layout
*******************************/

.home_navigation {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.home_navigation {
  -webkit-flex: 1;
  flex: 1;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

@media all and (min-width: 640px) {
  .header,
  .home_navigation {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

@media all and (min-width: 1030px) {
  .home_navigation {
    -webkit-flex: none;
    flex: none;
  }
}

/******************************
  Treehouse Styling
  *******************************/

.homepage {
  margin: 0 !important;
  font-family: Helvetica;
  background: url('../images/home/network.png') no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  height: 100vh;
}

.feature_text {
  position: absolute;
  left: 20%;
  top: 70%;
  color: white;
  font-size: 60px;
}

.home_navigation {
  list-style: none;
}

.home_navigation li {
  margin: 12px 0 12px 28px;
}

.home_navigation li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.home_navigation li a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.home_navigation li:last-child a {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  transition: 200ms ease-in-out;
  padding: 8px 16px 7px;
}

.home_navigation li:last-child a:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
}

/* Login form  */
* #loginform {
  /* width: 550px; */
  height: auto;
  position: relative;
  margin: 0 auto;
}

#loginform input {
  display: block;
  margin: 0px auto 15px;
  border-radius: 5px;
  background: #333333;
  width: 85%;
  padding: 12px 20px 12px 10px;
  border: none;
  color: #929999;
  box-shadow: inset 0px 1px 5px #272727;
  font-size: 0.8em;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}

#loginform input:focus {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
  box-shadow: 0px 0px 5px 1px #161718;
}

#loginform button {
  background: #ff5f32;
  border-radius: 50%;
  border: 10px solid #222526;
  font-size: 0.9em;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: 85px;
  height: 85px;
  position: absolute;
  right: -42px;
  top: 54px;
  text-align: center;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}

#loginform button:hover {
  background: #222526;
  border-color: #ff5f32;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}

#loginform button i {
  font-size: 20px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}

#loginform button:hover i {
  color: #ff5f32;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}

*:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: #929999;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #929999;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #929999;
}

:-ms-input-placeholder {
  color: #929999;
}

#loginform h1 {
  text-align: center;
  color: #fff;
  font-size: 13px;
  padding: 12px 0px;
}

#note {
  color: #88887a;
  font-size: 0.8em;
  text-align: left;
  padding-left: 5px;
}

#loginform a {
  color: #88887a;
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}

#loginform a:hover {
  color: #fff;
  margin-left: 5px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}

#mainlogin {
  float: left;
  /* width: 250px; */
  height: 170px;
  padding: 5px 15px;
  position: relative;
  /* background: #555555; */
  border-radius: 3px;
}

#connect {
  font-weight: bold;
  color: #fff;
  font-size: 13px;
  text-align: left;
  font-family: verdana;
  padding-top: 10px;
}
