@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn{
    text-transform: uppercase;
  }
}
.outer-content{
  min-height: 100dvh;
}
/* .main-content {

} */
.membersTable-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  overflow: auto;
  white-space: nowrap;
}

.custom-overflow {
  overflow-y: auto;
  overflow-x: hidden;

  /* NOTE: header is 48px */
  height: calc(var(--vh, 1vh) * 100 - var(--header-height, 48px));
}

.custom-scrollbar::-webkit-scrollbar, .cm-scroller::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track, .cm-scroller::-webkit-scrollbar-track {
  background: #bbbbbb; /* color of the tracking area */
}

.custom-scrollbar::-webkit-scrollbar-thumb, .cm-scroller::-webkit-scrollbar-thumb {
  background: #2e2e2e; /* color of the scroll thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover, .cm-scroller::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}

.glow {
  box-shadow: 0 0 2px 2px rgb(189, 93, 93);
}

/* Prevent text from being transformed to lowercase */
.theme-black {
  text-transform: none; 
}

/* There is a bug issue over at Mozilla that is still open, given that it was created 5 years ago.
https://bugzilla.mozilla.org/show_bug.cgi?id=1576820

https://github.com/sinamics/ztnet/issues/416 */
@-moz-document url-prefix() {
  option {
    font-family: 'Inter', sans-serif;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}