@tailwind base;
@tailwind components;
@tailwind utilities;

.main-content {
  /* min-height: 100vh; */
  min-height: 100dvh;
  /* min-height: -webkit-fill-available; */
}
.membersTable-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  overflow: auto;
  white-space: nowrap;
}

.custom-overflow {
  overflow-y: auto;
  overflow-x: hidden;

  /* NOTE: header is 48px */
  height: calc(var(--vh, 1vh) * 100 - 48px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #bbbbbb; /* color of the tracking area */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2e2e2e; /* color of the scroll thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}
/* table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
} */
