@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn{
    text-transform: uppercase;
  }
}
.outer-content{
  min-height: 100dvh;
}
/* .main-content {

} */
.membersTable-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  overflow: auto;
  white-space: nowrap;
}

.custom-overflow {
  overflow-y: auto;
  overflow-x: hidden;

  /* NOTE: header is 48px */
  height: calc(var(--vh, 1vh) * 100 - var(--header-height, 48px));
}

/* Webkit browsers (Chrome, Safari, newer versions of Edge) */
.custom-scrollbar::-webkit-scrollbar,
.cm-scroller::-webkit-scrollbar {
  width: 4px; 
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.cm-scroller::-webkit-scrollbar-thumb {
  background-color: rgba(46, 46, 46, 0.3); 
  border-radius: 2px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover,
.cm-scroller::-webkit-scrollbar-thumb:hover {
  background-color: rgba(85, 85, 85, 0.5); 
}

/* Hide scrollbar arrows */
.custom-scrollbar::-webkit-scrollbar-button,
.cm-scroller::-webkit-scrollbar-button {
  display: none;
}

/* Firefox */
.custom-scrollbar,
.cm-scroller {
  scrollbar-width: thin;
  scrollbar-color: rgba(219, 219, 219, 0.3) transparent;
}

/* For Internet Explorer and Edge (older versions) */
.custom-scrollbar,
.cm-scroller {
  -ms-overflow-style: none;
}

/* There is a bug issue over at Mozilla that is still open, given that it was created 5 years ago.
https://bugzilla.mozilla.org/show_bug.cgi?id=1576820

https://github.com/sinamics/ztnet/issues/416 */
@-moz-document url-prefix() {
  option {
    font-family: 'Inter', sans-serif;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}