.app-header.navbar {
  position: relative;
  flex-direction: row;
  height: $navbar-height;
  padding: 0;
  margin: 0;
  background-color: $navbar-bg;
  @include borders($navbar-border);

  .navbar-brand {
    display: inline-block;
    width: $navbar-brand-width;
    height: $navbar-height;
    padding: $navbar-padding-y $navbar-padding-x;
    margin-right: 0;
    background-color: $navbar-brand-bg;
    background-image: $navbar-brand-logo;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $navbar-brand-logo-size;
    @include borders($navbar-brand-border);
  }

  .navbar-toggler {
    min-width: 50px;
    padding: $navbar-toggler-padding-y 0;
    box-shadow: none;
    &:hover .navbar-toggler-icon {
      background-image: $navbar-toggler-icon-hover;
    }
  }

  .navbar-toggler-icon {
    height: 23px;
    background-image: $navbar-toggler-icon;
    border: none;
  }

  .navbar-nav {
    flex-direction: row;
    align-items: center;
  }

  .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0 !important;
    text-align: center;

    button {
      margin: 0 auto;
    }

    .nav-link {
      padding-top: 0;
      padding-bottom: 0;
      background: 0;
      border: 0;

      .badge {
        position: absolute;
        top: 50%;
        left: 0px;
        margin-top: -16px;
        margin-left: 0;
      }

      > .img-avatar {
        height: $navbar-height - 20px;
        margin: 0 10px;
      }
    }
  }

  .dropdown-menu {
    padding-bottom: 0;
    line-height: $line-height-base;
  }

  .dropdown-item {
    min-width: 180px;
  }
}

.navbar-brand {
  color: $navbar-active-color;

  @include hover-focus {
    color: $navbar-active-color;
  }
}

.navbar-nav {
  .nav-link {
    color: $navbar-color;

    @include hover-focus {
      color: $navbar-hover-color;
    }
  }

  .open > .nav-link,
  .active > .nav-link,
  .nav-link.open,
  .nav-link.active {
    @include plain-hover-focus {
      color: $navbar-active-color;
    }
  }
}

.navbar-divider {
  background-color: rgba(0, 0, 0, 0.075);
}

@include media-breakpoint-up(lg) {
  .brand-minimized {
    .app-header.navbar {
      .navbar-brand {
        width: $navbar-brand-minimized-width;
        background-color: $navbar-brand-minimized-bg;
        background-image: $navbar-brand-minimized-logo;
        background-size: $navbar-brand-minimized-logo-size;
        @include borders($navbar-brand-minimized-border);
      }
    }
  }
}

// Header navbar
.logo {
  /* float: left; */
  /* margin: 0 0 0 100px; */
  color: rgba(255, 255, 255, 0.801);
  /* font-weight: bold; */
  font-family: var(--header-font);
}
.logo a {
  font-size: 40px;
  letter-spacing: 4px;
  color: inherit;
}
.logo small {
  display: block;
  line-height: 0;
  position: relative;
  bottom: 7px;
  letter-spacing: 0.25em;
  left: 3px;
}

.menu {
  display: flex;
  justify-content: space-around;
}
.menu ul li a {
  font-family: var(--header-font);
  font-size: 20px;
}
.menu-icon {
  line-height: 30px;
  width: 100%;
  background: var(--header-bg-color);
  text-align: right;
  box-sizing: border-box;
  padding: 28px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

#navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  box-shadow: 1px 2px 4px #4e4c4c;
  background-color: var(--header-bg-color);
}

#navbar ul {
  line-height: 30px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

#navbar.black ul {
  background: #000;
}

#navbar ul li {
  display: inline-block;
  padding: 16px 40px;
}

#nav-ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    font-size: 38px;
  }

  #nav-ul {
    max-height: 0px;
    background: var(--header-bg-color);
  }

  #navbar.black ul {
    background: var(--header-bg-color);
  }

  .showing {
    max-height: 34em !important;
  }

  #navbar ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}

/******************************
Flexbox Layout
*******************************/

@media all and (min-width: 640px) {
  .header {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
