services:
  # db
  postgres:
    ports:
      - 5432:5432
      
  # zt container
  zerotier:
    image: zyclonite/zerotier:1.14.0
    ports:
      - "9993:9993"
    environment:
      - ZT_OVERRIDE_LOCAL_CONF=true
      - ZT_ALLOW_MANAGEMENT_FROM=0.0.0.0/0
  # ztnet
  ztnet:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile.dev
      args:
        NEXT_PUBLIC_CLIENTVAR: "clientvar"
      
    working_dir: /workspaces
    volumes:
      - .:/workspaces:cached
    environment:
      NEXTAUTH_URL: "http://10.0.0.217:3000" # Update this to the URL of your dev environment
    networks:
      - app-network
    depends_on:
      - postgres
      - zerotier
