@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
html {
  --primaryFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* --primaryFont: 'Poppins', sans-serif; */

  --primaryTheme: #fff;

  --primaryBg: #fff;

  --primaryText: #212121;

  --primaryActiveText:#212121;

  --primaryHover: #596574;

  --primaryMain: #eff3f8;

  --primarySiderbar: #1f2c3c;

  --primaryCardHeader: #f8f9fa;

  --secondaryText: #7b7b7b;

  --primaryButtonText: #fff;

  --primaryBorderBg: #efefef;

  --activeSelectionBg: rgba(162, 162, 162, 0.1);

  --primaryShadowBg: rgba(21, 23, 27, 0.856);

  --primaryShadowBg: rgba(21, 23, 27, 0.856);

  /* --primaryLogo: rgba(0, 0, 0, 0.18); */
}
html[data-theme='dark'] {
  --primaryTheme: #383838;
  --primaryBg: #0d0d0e;
  --primaryMain: #1a1a1d;
  --primarySiderbar: #191919;
  --primaryCardHeader: #383838;
  --primaryText: rgba(194, 194, 194, 0.897);
  --primaryActiveText: #fff;
  --primaryHover: #545454;
  --secondaryText: rgba(54, 55, 124, 0.794);
  --primaryButtonText: #fff;
  --primaryBorderBg: #292929;
  --activeSelectionBg: rgba(0, 0, 0, 0.18);
  --primaryShadowBg: rgba(8, 8, 8, 0.7);
  /* --primaryLogo: rgba(0, 0, 0, 0.18); */
}

body {
  font-family: var(--primaryFont);
  color: var(--primaryText);
  background-color: var(--primaryBg);
  font-size: 15px;
}

th,
tr {
  color: var(--primaryText);
}
.lightdarktheme > * {
  color: var(--primaryText) !important;
}

.lightdarktheme > .active {
  color: var(--primaryActiveText) !important;
}
.themeTextColor{
  color: var(--primaryText) !important;
}
.themeBackgroundColor{
  background: var(--secondaryText) !important;
}
.table-darkmode tbody tr td {
  color: var(--primaryText);
}
.app-header {
  background-color: var(--primaryTheme) !important;
}
.app-footer {
  background-color: var(--primaryTheme);
}
.navbar-brand {
  background-color: var(--primaryTheme) !important;
}

.main {
  background-color: var(--primaryMain);
}

.form-control {
  background-color: var(--primaryTheme) !important;
  color: var(--primaryText) !important;
}
